@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  font-size: 18px;
}

header.header-container {
  text-align: center;
}

header h1 {
  margin: 10px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 4px 4px 0px #784ba0, -4px 0 0px #ff3cac, 7px 4px 0 #2b86c5;
}

img {
  width: 400px;
  padding: 20px;
  border-radius: 25px;
}

img:hover {
  width: 500px;
}
main.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article.cards {
  margin-top: 25px;
  padding: 50px;
  width: 80vw;
  padding: 0px 25px;
  display: flex;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  border-radius: 5px;
}

main article h2 {
  color: #00dbde;
}
main article div.content {
  margin-left: 20px;
  padding: 10px;
  flex-direction: column;
}

main article div p {
  margin-top: 10px;
  color: aliceblue;
  text-indent: 35px;
}

main article div.links {
  margin-top: 20px;
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
  background-color: #00dbde;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
  font-weight: 700;
}
